{% extends 'adminpanel/base.html'%}
{% block content %}
  <!-- Hero -->
  <div class="bg-body-light">
      <div class="content content-full">
          <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
              <h1 class="flex-sm-fill h3 my-2">
                 Upgrade <small class="font-size-base font-w400 text-muted">
                 <a href="#"></a>
                 </small>
              </h1>
              <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                  <ol class="breadcrumb breadcrumb-alt">
                    <li class="breadcrumb-item" aria-current="page">
                        <a class="link-fx" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                     <li class="breadcrumb-item" aria-current="page">
                        <a class="link-fx" href="{% url 'settings' %}">Settings</a>
                    </li>
                    <li class="breadcrumb-item">Upgrade</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
  {% include 'website/alerts.html' %}
    <!-- Page Content -->
    <div class="content" id="plans">
      <div class="row">
          <div class="col-lg-12">
            <div class="block block-rounded">
              <div class="block-content block-content-full">
                  <h2>Plan name</h2>
                    <h3>Plan price</h3>
                </br>
                  <button class="btn btn-sm btn-block btn-success">Confirm Payment</button>
                </form>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- END Page Content $ python manage.py djstripe_sync_plans_from_stripe -->
{% endblock %}

{% block scripts %}
{% endblock %}